<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user, stat : ${users}">
        <th scope="row" th:text="${stat.count}"></th>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.gmail}">Email</td>
        <td th:text="${user.password}">Password</td>
    </tr>
    </tbody>
</table>
</body>
</html>